<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chatbot</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./tester.css" />
  </head>
  <body>
    <section class="msger " id="msger">
      <main class="msger-chat">
        <div class="msg left-msg">
          <div
            class="msg-img"
            style="background-image: url(./cahtPic.jpg)"
          ></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">Jiya</div>
              <div class="msg-info-time"></div>
            </div>

            <div class="msg-text msgInside_left">
              <!-- Hi😃, GYaaनी welcoming you ! How could i help you ? -->
              Hi😃, Jiya welcoming you ! How could i help you ?
            </div>
          </div>
        </div>

        <!-- image -->
        <div class="msg left-msg">
          <div
            class="msg-img"
            style="background-image: url(./cahtPic.jpg)"
          ></div>

          <div class="">

            <img src="https://globalgiants.com/archives/fotos53/ChandUnivLogo-001.gif" class="msg-text msgInside_left"  style="padding: 0;">
              
            </img>
           
          </div>
        </div>
        <div class="msg left-msg">
          <div
            class="msg-img"
            style="background-image: url(./cahtPic.jpg)"
          ></div>

          <div class="">

            <iframe class="msg-text msgInside_left" style="padding: 0;" src="https://www.youtube.com/embed/j13Ms0Sb6TI">https://www.youtube.com/embed/tgbNymZ7vqY
            </iframe>
           
          </div>
        </div>


        <!-- loader -->

        
        
        
      </main>
      <div class="msg left-msg hideLoader" id="loader">
        <div
          class="msg-img"
          style="background-image: url(./cahtPic.jpg)"
        ></div>

        <div class="">

          <img src="https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif" class="msg-text msgInside_left loader_hide"  style="padding: 0; height: 30px; width: 75px;" >
            
          </img>
         
        </div>
      </div>

      <form class="msger-inputarea">
        <input
          type="text"
          class="msger-input"
          placeholder="Enter your message..."
        />
        <button type="submit" class="msger-send-btn"><i class="material-icons">&#xe163;</i></button>
      </form>
    </section>
    <button class="toggleBot" id="toggleBot">
      <span class="material-symbols-outlined">
        forum
        </span>
    </button>
    
    <script src="./tester.js"></script>
  </body>
</html>
